@page "/encryption"

<section>
    <h2 class="block mb-2 text-5xl font-medium tracking-widest uppercase lg:text-center dark:text-violet-400">
        Encrypted Steganography
    </h2>
    <span class="block text-xl font-bold lg:text-center dark:text-gray-50">
        Sending secure messages - hidden and scrambled
    </span>
</section>
<section class="grid gap-6 lg:grid-cols-2">
    <div class="p-8 space-y-8 rounded-md lg:col-span-full lg:py-12">
        <h2 class="text-5xl font-bold dark:text-gray-50">Introduction</h2>
        <p class="dark:text-gray-400">
            This is a combination approach of steganography and cryptography.
        </p>
        <p class="dark:text-gray-400">
            Steganography is the art of hiding a secret message in something that is not a secret. It is used to send
            messages such that an unauthorized person will be unaware that a message is sent.
        </p>
        <p class="dark:text-gray-400">
            In this section, steganography will be combined with encryption to send messages. The encyrpted message will
            be hidden in another string which will be more secure than just simply encrypting it.
        </p>
        <p class="dark:text-gray-400">
            Encryption will be achieved a stream cipher. A stream cipher is an encryption technique that works byte 
            by byte to transform plain text into code that's unreadable to anyone without the proper key.
            Stream ciphers are linear, so the same key both encrypts and decrypts messages.
        </p>
    </div>
</section>