@page "/password-cracking"

@using Kryptos.Web.Client.Components.PasswordCracker.HashForm
@using Kryptos.Web.Client.Components.PasswordCracker.BruteForceForm
@using Kryptos.Web.Client.Components.PasswordCracker.DictionaryAttackForm

<PageTitle>Kryptos | Password Cracker</PageTitle>

<section>
    <h2 class="block mb-2 text-5xl font-medium tracking-widest uppercase lg:text-center dark:text-violet-400">
        Password Cracking
    </h2>
    <span class="block text-xl font-bold lg:text-center dark:text-gray-50">
        Break hashed passwords
    </span>
</section>
<section class="grid gap-6 lg:grid-cols-2">
    <div class="p-8 space-y-8 rounded-md lg:col-span-full lg:py-12">
        <h2 class="text-5xl font-bold dark:text-gray-50">Introduction</h2>
        <p class="dark:text-gray-400">
            We have passwords for emails, databases, computer systems, servers, bank accounts, and virtually
            everything that we want to protect.
            Passwords are in general the keys to get access into a system or an account.
        </p>
        <p class="dark:text-gray-400">
            In general, people tend to set passwords that are easy to remember,
            such as their date of birth, names of family members, mobile numbers, etc.
            This is what makes the passwords weak and prone to easy hacking.
            One should always take care to have a strong password to defend their accounts from potential hackers.
            A strong password has the following attributes:
        </p>
        <ul class="list-disc dark:text-gray-400 py-2">
            <li>Contains atleast 8 characters.</li>
            <li>A mix of letters, numbers, and special characters.</li>
            <li>A combination of small and capital letters.</li>
        </ul>
    </div>
</section>

<section class="grid gap-6 lg:grid-cols-2">
    <div class="p-8 space-y-8 rounded-md lg:col-span-full lg:py-12 dark:bg-gray-900">
        <h2 class="text-5xl font-bold dark:text-gray-10">Explanation</h2>
        <TabControl>
            <TabPage Text="Brute Force Attack">
                <p class="leading-relaxed">
                    In a brute-force attack, the hacker uses all possible combinations of letters, numbers,
                    special characters, and small and capital letters to break the password.
                    This type of attack has a high probability of success, but it requires an enormous amount of
                    time to process all the combinations.
                    A brute-force attack is slow and the hacker might require a system with high processing power to
                    perform all those permutations and combinations faster.
                    <b>John the Ripper</b> or <b>Johnny</b> is one of the powerful tools to set a
                    brute-force attack and it comes bundled with the Kali distribution of Linux.
                </p>
                <ul class="list-disc dark:text-gray-400 p-2">
                    <li>
                        When alphabet size is 36 (letters + digits),
                        total search space for length of 6 is <span class="text-red-500">2,176,782,336</span>
                        combinations.
                    </li>
                    <li>For length 8 it is <span class="text-red-500">101,559,956,668,416</span> combinations.</li>
                </ul>
                <p class="leading-relaxed">
                    With traditional CPU password cracking, it would take around 92 years to guess all of the
                    iterations using uppercase, lowercase and numbers for an 8 character password.
                    However, military grade Brute-Force pools could crack an 8 digit password in less than an hour.
                </p>
            </TabPage>
            <TabPage Text="Dictionary Attack">
                <p class="leading-relaxed">
                    In a dictionary attack, the hacker uses a predefined list of words from a dictionary to try and
                    guess the password. If the set password is weak, then a dictionary attack can decode it quite fast.
                    <b>Hydra</b> is a popular tool that is widely used for dictionary attacks.
                </p>

                <p class="leading-relaxed">
                    Dictionary attack can be combined with brute force attack to perform a <b>Hybrid Dictionary Attack</b>.
                    Hybrid dictionary attack uses a set of dictionary words combined with extensions.
                    For example, we have the word “admin” and combine it with number extensions such as “admin123”,
                    “admin147”, etc.
                    <b>Crunch</b> is a wordlist generator where you can specify a standard character set or a
                    character set. <b>Crunch</b>can generate all possible combinations and permutations.
                    This tool comes bundled with the Kali distribution of Linux.
                </p>
            </TabPage>
        </TabControl>
    </div>
</section>

<section class="grid gap-6 lg:grid-cols-2">
    <div class="p-8 space-y-8 rounded-md lg:col-span-full lg:py-12">
        <h2 class="text-5xl font-bold dark:text-gray-50">Example</h2>
        <TabControl>
            <TabPage Text="Hash">
                <HashForm />
            </TabPage>

            <TabPage Text="Brute Force">
                <BruteForceForm />
            </TabPage>

            <TabPage Text="Dictionary">
                <DictionaryAttackForm />
            </TabPage>
        </TabControl>
    </div>
</section>