@page "/secret-messages"

@using Kryptos.Web.Client.Components.SecretMessage.ConcealForm
@using Kryptos.Web.Client.Components.SecretMessage.RevealForm
@using Kryptos.Web.Client.Components.SecretMessage.Chat

<PageTitle>Kryptos | Secret Message</PageTitle>

<section>
    <h2 class="block mb-2 text-5xl font-medium tracking-widest uppercase lg:text-center dark:text-violet-400">
        Secret Messages
    </h2>
    <span class="block text-xl font-bold lg:text-center dark:text-gray-50">
        Sending secure messages - hidden and scrambled
    </span>
</section>
<section class="grid gap-6 lg:grid-cols-2">
    <div class="p-8 space-y-8 rounded-md lg:col-span-full lg:py-12">
        <h2 class="text-5xl font-bold dark:text-gray-50">Introduction</h2>
        <p class="dark:text-gray-400">
            This is a combination approach of steganography and cryptography.
        </p>
        <p class="dark:text-gray-400">
            Steganography is the art of hiding a secret message in something that is not a secret. It is used to send
            messages such that an unauthorized person will be unaware that a message is sent.
        </p>
        <p class="dark:text-gray-400">
            In this section, steganography will be combined with encryption to send messages. The encyrpted message will
            be hidden in another string which will be more secure than just simply encrypting it.
        </p>
        <p class="dark:text-gray-400">
            Encryption will be achieved a stream cipher. A stream cipher is an encryption technique that works byte
            by byte to transform plain text into code that's unreadable to anyone without the proper key.
            Stream ciphers are linear, so the same key both encrypts and decrypts messages.
        </p>
    </div>
</section>

<section class="grid gap-6 lg:grid-cols-2">
    <div class="p-8 space-y-8 rounded-md lg:col-span-full lg:py-12 dark:bg-gray-900">
        <h2 class="text-5xl font-bold dark:text-gray-10">Explanation</h2>
        <TabControl>
            <TabPage Text="Stream Cipher">
                <p class="leading-relaxed">
                    Stream cipher is an encryption technique where a plain text is converted into cipher text, by
                    transforming it byte by byte - rendering it unreadable to anyone without the proper key. It is a
                    Symmetric Key Encryption technique - the same key is used to encrypt and decrypt the message. For
                    this reason, security experts generally discourage stream ciphers for widespread use, as it is
                    possible to crack the key.
                </p>
                <p class="leading-relaxed">
                    In this section a stream cipher is implemented, which will encrypt a given secret into a cipher text.
                </p>
                <p class="underline font-bold text-gray-400">Encryption</p>
                <ol class="list-decimal dark:text-gray-400 p-2">
                    <li>The given key is hashed to produce a byte array.</li>
                    <li>The byte array is used to seed a <b>pseudo random number generator</b>.</li>
                    <li>This produces a binary number - referred to as a <b>key stream</b>.</li>
                    <li>The plain text is encrypted by applying the <b>XOR</b> operation against the key stream.</li>
                    <li>The result is scrambled cipher text in binary form.</li>
                </ol>

                <p class="underline font-bold text-gray-400">Decryption</p>
                <ol class="list-decimal dark:text-gray-400 p-2">
                    <li>A <b>key stream</b> based on a given key is generated.</li>
                    <li>The cipher text is decrypted by applying <b>XOR</b> against the key stream.</li>
                </ol>
            </TabPage>
            <TabPage Text="Steganography">
                <p class="leading-relaxed">
                    Steganography is a technique used to hide secrets in plain sight. In this section text-in-text
                    steganography is used - this is a technique where a secret text is hidden inside another text.
                </p>

                <p class="leading-relaxed">
                    The Unicode standard has <b>Zero-width</b> or <b>non-printing</b> characters. They do not show up
                    in plain view and are used for various functions such as line wrapping etc... However some of these
                    characters do not show up properly or are banned in certain platforms, leaving only a few of these
                    characters usable for this purpose. Hence, the binary numbers are mapped to the following codes:
                </p>
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block py-2 min-w-1/2 sm:px-6 lg:px-8">
                        <div class="overflow-hidden shadow-md sm:rounded-lg">
                            <table class="min-w-full">
                                <thead class="bg-gray-100 dark:bg-gray-700">
                                <tr>
                                    <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                        Binary
                                    </th>
                                    <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                        Unicode
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-600">
                                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        00
                                    </td>
                                    <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        200C
                                    </td>
                                </tr>

                                <tr class="bg-gray-50 border-b dark:bg-gray-700 dark:border-gray-600">
                                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        01
                                    </td>
                                    <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        200D
                                    </td>
                                </tr>

                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-600">
                                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        10
                                    </td>
                                    <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        2060
                                    </td>
                                </tr>

                                <tr class="bg-gray-50 border-b dark:bg-gray-700 dark:border-gray-600">
                                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        11
                                    </td>
                                    <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        2062
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <p class="leading-relaxed">
                    Once the mapped string is generated, it can be hidden in any part of the public message.
                </p>
            </TabPage>
        </TabControl>
    </div>
</section>

<section class="grid gap-6 lg:grid-cols-2">
    <div class="p-8 space-y-8 rounded-md lg:col-span-full lg:py-12">
        <h2 class="text-5xl font-bold dark:text-gray-50">Example</h2>
        <TabControl>
            <TabPage Text="Conceal">
                <ConcealForm/>
            </TabPage>

            <TabPage Text="Reveal">
                <RevealForm/>
            </TabPage>
        </TabControl>
    </div>
</section>

<section class="grid gap-6 lg:grid-cols-2">
    <div class="p-8 space-y-8 rounded-md lg:col-span-full lg:py-12 dark:bg-gray-900">
        <h2 class="text-5xl font-bold dark:text-gray-50">Chat</h2>

        <Chat/>
    </div>
</section>