<EditForm Model="@FormData" OnValidSubmit="@ValidFormSubmit" autocomplete="off">
    <DataAnnotationsValidator/>
    <div class="mb-6">
        <InputText @bind-Value="FormData.CardNumber"
                   class="block p-4 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </InputText>
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <ValidationMessage For="() => FormData.CardNumber"/>
        </p>
    </div>
    <button type="submit" disabled="@ButtonDisabled"
            class="@(EditContext.Validate() ? "btn-primary" : "btn-primary-disabled")">
        Validate
    </button>
</EditForm>

@if (ShowResult)
{
    <CardValidationResult Result="Result" />
}