@inherits LayoutComponentBase

<div class="min-h-screen dark:bg-gray-800 dark:text-gray-100">
	<div class="p-6 space-y-8">
		<NavMenu />
		<main>
			<div class="container mx-auto space-y-16">
				@Body
			</div>
		</main>
		
		<Footer></Footer>
	</div>
</div>