<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-md sm:rounded-lg">

                <table class="min-w-full">
                    <tbody>
                    <tr class="bg-gray-50 border-b dark:bg-gray-700 dark:border-gray-600">
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            7
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            9
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            9
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            2
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            7
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            3
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            9
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            8
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            7
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            1
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            3
                        </td>
                    </tr>

                    <tr class="bg-gray-50 border-b dark:bg-gray-700 dark:border-gray-600">
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-center text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            x2
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            x2
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            x2
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            x2
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            x2
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                    </tr>

                    <tr class="bg-gray-50 border-b dark:bg-gray-700 dark:border-gray-600">
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-center text-sm font-medium text-gray-900 whitespace-nowrap dark:text-yellow-500">
                            18
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-center text-sm font-medium text-gray-900 whitespace-nowrap dark:text-yellow-500">
                            4
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-center text-sm font-medium text-gray-900 whitespace-nowrap dark:text-yellow-500">
                            6
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-center text-sm font-medium text-gray-900 whitespace-nowrap dark:text-yellow-500">
                            16
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-center text-sm font-medium text-gray-900 whitespace-nowrap dark:text-yellow-500">
                            2
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                    </tr>

                    <tr class="bg-gray-50 border-b dark:bg-gray-700 dark:border-gray-600">
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-center text-sm font-medium text-gray-900 whitespace-nowrap dark:text-green-500">
                            9
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-center text-sm font-medium text-gray-900 whitespace-nowrap dark:text-green-500">
                            4
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-center text-sm font-medium text-gray-900 whitespace-nowrap dark:text-green-500">
                            6
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-center text-sm font-medium text-gray-900 whitespace-nowrap dark:text-green-500">
                            7
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                        <td class="py-4 px-6 text-center text-sm font-medium text-gray-900 whitespace-nowrap dark:text-green-500">
                            2
                        </td>
                        <td class="py-4 px-6 text-sm text-center font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>